<html>
    <head>
        <title>
            Página inicial
        </title>
        <meta charset="UTF-8">
        <link href="../assets/css/login.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
    <body class="body">
        <div class="container">
            <div class="row">
                <div class="content text-center">
                    <div class="form">
                        <img src="//imguol.com.br:8080/projetoHotel/projetoHotelFaculdade/imagens/logo.png">
                        <span>
                            <input type="text" placeholder="Usuário" id="name" name="name">
                            <input type="password" placeholder="Senha" id="senha" name="senha">
                            <button id="button" class="btn btn-primary">LOGIN</button>
                            <p>Ainda não é cadastrado? <a href="cadastro.html">Clique aqui</a></p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../vendor/login.js"></script>
</html>